<% if @listing.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved: </h2>
    <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @listing, :html => {:multipart => true} do |f| %>
	<%= f.text_field :name, placeholder: "Name", class: "form-control" %>
	<%= f.text_field :city, placeholder: "City", class: "form-control" %>
	<%= f.text_field :accomodates, placeholder: "Accomodates", class: "form-control" %>
	<%= f.text_area :description, placeholder: "Description", class: "form-control" %>
	<%= f.label :Beds %>
	<%= f.select :beds, ['1', '2', '3', '4', '5', '6'], class: "form-control" %>
	<%= f.text_field :baths, placeholder: "Baths", class: "form-control" %>
	<%= f.text_field :price, placeholder: "Price", class: "form-control" %>
	<%= f.label "Home Type" %>
	<%= f.select :home_type, ['Apartment', 'Detatched', 'Condo', 'Chalet'], class: "form-control" %>
	<%= f.text_field :address, placeholder: "Address", class: "form-control" %>
  <%= f.submit "Create Listing", class: "form-control" %>
<% end %>






