

<p><%= @listing.name %></p>
<%= @listing.city %>
<%= @listing.accomodates %>
<%= @listing.description %>
<%= @listing.beds %>
<%= @listing.baths %>
<%= @listing.price %>
<%= @listing.home_type %>
<%= @listing.address %>

<p><%= @listing.photos.last %></p>



